body
{

    background: rgba(150, 133, 133, 0.699);
    color: rgba(50, 174, 231, 0.781);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
#cabecera
{
    background: whitesmoke;
    box-shadow: 0px 2px 20px 0px rgba(67, 219, 224, 0.801);
    color: rgb(49, 49, 49);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;


}
#cabecera #logo
{
    width: 30px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 3em;
    font-weight: normal;
    font-size: 0.8em;
}
#conteiner
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 3px solid rgba(248, 244, 0, 0.973);
    border-left: 6px solid rgba(15, 252, 7, 0.76);
    border-right: 6px solid rgba(190, 10, 10, 0.726);
    margin: 0 auto;
    background: whitesmoke;

}
#conteiner h1
{
    font-size: 30px;
}
#post
{
    background: rgb(248, 246, 246);
    padding: 1em;
}

#footer
{
    color: aliceblue;
    background: rgb(65, 65, 65);
    text-align: center;
    box-shadow:0PX 0PX 20PX 5PX rebeccapurple;
    padding: 0.09em;
}
