body
{
    color: rgba(50, 174, 231, 0.781);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
#cabecera
{
    background: rgb(58, 3, 3);
    box-shadow: 0px 2px 20px 0px rgba(50, 174, 231, 0.781);
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;


}
#cabecera #tagline
{
    padding: 0 0 0 3em;
    font-weight: normal;
    font-size: 0.8em;
}
#conteiner
{
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 3px solid rgba(248, 244, 0, 0.973);
    border-left: 6px solid rgba(15, 252, 7, 0.76);
    border-right: 6px solid rgba(190, 10, 10, 0.726);
    margin: 0 auto;
}
#conteiner h1
{
    font-size: 30px;
}