*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body
{
    font-family: Arial, Helvetica, sans-serif
    ;
}
/*aca el contenedor de imagenes */
.conteiner-image{
    display: flex;
}
.conteiner-image img{
    width: 100%;
}
/*aca el header*/
header
{
    background: rgba(177, 29, 29, 0.452);
    padding: 10px 50px;
    color: honeydew;
}
header .informacion-header{
    display: flex;
}

header .informacion-header .informacion{
    margin-left: 20px;
    text-align: center; 
}
#cabecera{
    
    color: aqua;
}

#logo{
    width: 50px;
    border-radius: 100%;
    border: 2px solid seagreen;
    
    
}
/* header .conteiner-image #cabecera{
    color: aliceblue;
} */

/*estilos del hero */
#hero{
    position: relative;
}
#hero #saurio{
    display: inline-block;
    width: 100%;
}
#hero .informacion-hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 50px;
}
#hero .informacion-hero #dalo{
    width: 300px;
}

/* #hero .informacion #dalo img. una forma mas de hacerlo. */
#hero .informacion-hero #dalo img{    
    border-radius: 100%;
}
#hero .informacion-hero .informacion{   
    margin-left: 20px;
}
#hero .informacion-hero .informacion h1{
    margin-bottom: 70px;
    
}




